# data wrangling
pandas
numpy
# ml
scikit-learn
# data visualization
matplotlib
seaborn
plotly
nbformat>=4.2.0
# interactive jupyter widget
ipywidgets
markdown
traitlets
# security guides
tornado>6.5
Pygments>=2.15.0
Pillow>=10.0.1
pillow>=10.0.1
fonttools>4.60.2
scikit-learn>=1.5.0
zipp>=3.19.1
ipython>=8.10.0